:root {
    --gray-800: #343a40;
    --orange: #bd5d38;
    --dark-orange: #824027;
    --white: #ffffff;
    --yiq-contrasted-threshold: 205;
}

html {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.content-container {
    margin-top: auto;
    margin-bottom: auto;
}

h1, h2 {
    font-weight: 700;
    color: var(--grey-800);
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: var(--orange);
}

a:hover {
    color: var(--dark-orange);
    text-decoration: underline;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--gray-800);
    color: var(--white);
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icon:hover {
    background-color: var(--orange);
    color: var(--white);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--gray-800);
        color: var(--white);
    }
    
    a:hover {
        color: var(--orange);
    }

    .social-icon {
        background-color: var(--white);
        color: var(--gray-800);
    }

    .social-icon:hover {
        opacity: 60%;
        background-color: var(--white);
        color: var(--gray-800);
    }

}

